<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">



<div layout:fragment="content">
    <div>
        <h2>지선's 방명록Modify</h2>
        <form method="post"
              th:action="@{/board/modify/{id}(id=${boardViewDto.id})}"
              th:object="${boardDto}">
            <div>
                <label for="name">이름:</label>
                <input type="text"
                       th:value="${boardViewDto.name}">

                <p th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">
                    여기에 오류 메시지 띄워주세요.
                </p>
            </div>

            <div>
                <label for="title">제목:</label>
                <input type="text"
                       th:value="${boardViewDto.title}">
                <p th:if="${#fields.hasErrors('title')}">제목은 필수 입력사항입니다.</p>
            </div>

            <div>
                <label for="content">내용:</label>

                <textarea th:text="${boardViewDto.content}"
                          rows="4" >

                </textarea>

                <p th:if="${#fields.hasErrors('content')}">내용은 필수 입력사항입니다.</p>
            </div>

            <div>
                <button type="submit">수정완료💗</button>
            </div>
        </form>
    </div>
</div>



</html>