<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<div class=""
     th:fragment="footerFragment">

    <footer>
        <div class="container">
            <div class="logo">
                <h5>지선's footer</h5>
            </div>
            <nav>
                <ul>
                    <li><a href="#">가지마</a></li>
                </ul>
            </nav>
        </div>
    </footer>

    <th:block th:if="${modalDto!=null}">

        <!-- 모달 창 -->
        <div id="myModal" class="hidden" >
            <div class="modal-content" id="modal-content">
                <span class="close">&times;</span>
                <h2 id="modalTitle" th:text="${modalDto.title}">Modal Title</h2>
                <p id="modalMsg" th:text="${modalDto.msg}">This is a modal!</p>
                <button id="noBtn">아니오</button>
                <button id="yesBtn">네</button>
            </div>
        </div>


        <!-- 타임리프에서 자바스크립트에 서버에서 내려준 변수사용하고싶으면....    -->
        <script th:inline="javascript">
            const isState = [[${modalDto.isState}]];
            if(isState==="success") {
                 // 버튼 클릭 이벤트 핸들러
                 $('#btn').on('click', function(e) {
                    // 버튼이 클릭되면 모달을 엽니다.
                    $('#myModal').modal('show');
                });
            }
        </script>

    </th:block>

</div>

</html>
