<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<div class=""
     th:fragment="footerFragment">

    <footer>
        <div class="container">
            <div class="logo">
                <h5>지선's footer</h5>
            </div>
            <nav>
                <ul>
                    <li><a href="#">가지마</a></li>
                </ul>
            </nav>
        </div>
    </footer>


    <!--모달창-->
    <th:block th:if="${modalDto!=null}">
        <div class="modal fade" tabindex="-1" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="${modalDto.title}">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${modalDto.msg}">Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                id="btnClose"
                                data-bs-dismiss="modal"
                                th:text="${modalDto.btnMsgClose}">Close</button>
                        <button type="button"
                                class="btn btn-secondary"
                                id="btnOpen"
                                data-bs-dismiss="modal"
                                th:text="${modalDto.btnMsgOpen}">Open</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 타임리프에서 자바스크립트에 서버에서 내려준 변수사용하고싶으면....    -->
        <script th:inline="javascript">
            const isState = [[${modalDto.isState}]];
            const myModal = new bootstrap.Modal("#myModal");
            if (isState === "success") {
                myModal.show();
                // noBtn 클릭 이벤트 핸들러
                $('#btnClose').on('click', function (e) {
                    // noBtn이 클릭되면 모달을 숨깁니다.
                    $('#myModal').modal('hide');
                });
            }
        </script>
    </th:block>

</div>
</html>
