<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="SunBookDto" type="com.jisun.sunbook.dto.SunBookDto"></typeAlias>
        <typeAlias alias="ModalDto" type="com.jisun.sunbook.dto.ModalDto"></typeAlias>
        <typeAlias alias="PageDto" type="com.jisun.sunbook.dto.PageDto"></typeAlias>
    </typeAliases>
</configuration>